body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

#container-page2 {
    text-align: center;
}

h1#pergunta-page2 {
    padding-bottom: 47px;
    font-size: 3em;
    color: #67bfdf;
}

p#feedback {
    color: rgb(248, 248, 248);
    margin-left: 126px;
    font-size: 2rem;
}

button#nextBtn2 {
    margin-left: 10rem;
    width: 296px;
    font-size: 1.5rem;
    margin-top: 3rem;
}

input {
    padding: 30px;
    margin: 10px;
    border-radius: 30px;
    width: 80%;
    font-size: 1.5rem;
    background: transparent;
    box-shadow: 0 0 0 4px #3ea9d1 inset, 0 0 0 12px #f8f8f8 inset;
    animation: mudancaDeCorBorda 5s linear infinite;
}

input#respostaInput {
    color: white;
}
button {
    cursor: pointer;
    background-color: #3ea9d1;
    font-family: 'Poppins', sans-serif;
    color: rgb(7, 7, 7);
    border: none;
    padding: 15px;
    margin: 10px;
    border-radius: 30px;
    font-size: 1.3rem;
    width: 25%;
}

button:hover {
    background-color: rgb(21, 77, 173); 
    transform: scale(1.1); 
    transition: background-color 0.3s, transform 0.2s; 
    color:white;
    font-family: 'Poppins', sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 10px;
}



@keyframes mudancaDeCorBorda {
    0%, 80% {
        box-shadow: 0 0 0 4px #ADD8E6 inset, 0 0 0 8px #3ea9d1 inset, 0 0 0 12px #09a5d5 inset;
    }
    50% {
        box-shadow: 0 0 0 12px rgb(43, 198, 226)inset;
    }
}


  
    @media (min-width: 500px) {
        #conjunto-total2 {
            width: 100%; 
            max-width: 800px; 
        }
     
    }

    /* h3 {
        font-size: xxx-large;
    }

    input {
        font-size: 1rem;
    }

    button#verificarBtn {
        width: 11rem;
        margin-left: 4rem;
        font-size: 1.5rem;
    } */

body {
    background: #000;
    overflow: hidden;
}

.video-background {
    position: relative;
    overflow: hidden;
    width: 99%;
    height: 98vh;
    padding-left: 19rem;
    padding-right: 22rem;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}


.content {
    position: relative;
    z-index: 2;
    
}

    
    @media (max-width: 600px) {
        .video-background {
            padding-left: 1rem; /* Reduz o padding */
            padding-right: 1rem;
            width: 100%;
            height: 100vh;
        }
    
    
        input {
            font-size: 1rem;
            padding: 17px;
            width: 93%;
            margin-left: -4px;
        }
        
        
    
        h1#pergunta-page2 {
            font-size: 2em;
            margin-top: 64px;
        }
    
        p#feedback {
            margin-left: 0; /* Ajusta o alinhamento */
            font-size: 1rem;
        }
    
        button#nextBtn2 {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            font-size: 1rem;
            margin-top: 4rem;
        }

        button#verificarBtn {
            width: 11rem;
            font-size: 1.2rem;
            margin-left: auto;
            margin-right: auto;
        }
        
        
        
    }

    @keyframes moverUniverso {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-100%);
        }
    }
  