body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

input, p#feedback, verificarBtn {
    display: none;
}
h1 {
    color: white;
    font-size: 2.8rem;
    text-align: center;
}
.home-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(0 123 255 / 59%);
    color: white; 
    text-align: center;
    text-decoration: none; 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s; 
    margin-left: 14rem;
    border-radius: 26px;
}


.home-button:hover {
    background-color: #e0e7ef; 
    color:black;
    font-weight: bold;
    ;
}

button#nextBtn {
    margin-left: 21rem;
    margin-top: 5rem;
    width: 296px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 10px;
}

.video-background video {
    width: 131%;
    height: auto;
    position: absolute;
    top: 39%;
    left: 41%;
    transform: translate(-43%, -36%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

@keyframes mudancaDeCorBorda {
    0%, 80% {
        box-shadow: 0 0 0 4px #ADD8E6 inset, 0 0 0 8px #3ea9d1 inset, 0 0 0 12px #09a5d5 inset;
    }
    50% {
        box-shadow: 0 0 0 12px rgb(43, 198, 226)inset;
    }
}

    @media (max-width: 600px) {
        .video-background video {
            width: 100%;   
            height: auto; 
            position: absolute;
            top: 50%;    
            left: 50%;   
            transform: translate(-50%, -50%); 
            min-width: 411%;
            min-height: 100%;
            z-index: -1;
        }
    }

    
    h3 {
        font-size: xxx-large;
    }

    input {
        font-size: 1rem;
    }

  
    @media (min-width: 500px) {
        #conjunto-total2 {
            width: 100%; 
            max-width: 800px; 
        }
     
    }


    body {
        background: #000;
        overflow: hidden;
    }

    .video-background {
        position: 100%;
        overflow: hidden;
    }


    .content {
        position: relative;
        z-index: 2;
        
    }

    @keyframes moverUniverso {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-100%);
        }
    }
